<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>That's What She Said</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Feed ND</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="quotes">Home</a></li>
            <li><a href="post">Post</a></li>
            <!--li><a href="browse">Browse</a></li-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>That's What She Said</h1>
        <p>Your place to view and post quotes of any kind from the eloquent words of great philosophers to that embarassing quote your buddy wishes he could take back</p>
      </div>
      
      <div class="page-header">
        <h1>Add your quote</h1>
      </div>
     
      <form id="quote-add-form" class="form-horizontal" role="form" method="POST" action="post" enctype="application/json" target="">
          <div class="form-group">
            <label class="control-label col-sm-2" for="author-input">Author:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="author-input" name="author-input" placeholder="Enter Author's Name" required>
              <div id="author-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="poster-input">Poster:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="poster-input" name="poster-input" placeholder="Enter Your Name" required>
              <div id="email-error" class="validation-error"></div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="quote-input">Quote:</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="quote-input" name="quote-input" placeholder="Enter Quote" required></textarea>
              <div id="quote-error" class="validation-error"></div>
            </div>
          </div>
	  <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
	</form>
 
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/quotes.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
