<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>That's What She Said</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="css/main.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         <!-- <a class="navbar-brand" href="#">Feed ND</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="quotes">Home</a></li>
            <li><a href="post">Post</a></li>
            <!--li><a href="browse">Browse</a></li-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>That's What She Said</h1>
        <p>Your place to view and post quotes of any kind from the eloquent words of great philosophers to that embarassing quote your buddy wishes he could take back</p>
      </div>
      {% block content %}
      <div class="page-header">
        <h1>Quotes</h1>
      </div>
      {% for quote in quotes %} 
      <div class = "row">
	  <li class="list-group-item quotes-list-item col-md-4">
	    <div style="float:right" width="200">
		<h4 class="vote-div">
                  <a href="vote/{{quote['quoteID']}}/up">
		    <div> /\ </div>
		  </a>

		  <div class="vote-count">{{quote['score']}}</div>
	          <a href="vote/{{quote['quoteID']}}/down">
		    <div> \/ </div>
		  </a>
                </h4>
	    </div>
            <h4 class="list-group-item-heading">
		{{quote['text']}}
            </h4>
            <p class="list-group-item-text"> By: {{ quote['author']}}</p>
            <p class="list-group-item-text"> Posted by: 
		 {{ quote['poster'] }}
		 on {{quote['date']}} 
	    </p>
          <div class="list-group category-sublist"></div>
        </li>

      </div>      
      {% endfor %}
      {% endblock %}
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/quotes.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
